*{
	box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}
.wrap {
  min-height: 100%;
  margin-bottom: -50px;
}
.wrap::after{
	content: '';
	display: block;
	height: 50px;
}
.footer {
  height: 50px;
}